@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container1 {
  width: 90%;
  margin: 60px auto 0;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.slider-container1 .slick-list {
  overflow: visible !important;
}

.custom-slick-track {
  height: fit-content;
  padding: 0;
}

.slider-container1 .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.slider-container1 .slick-slide > div {
  background-color: #b37b50;
  color: white;
  border-radius: 12px;
  width: 140px; /* Increased size */
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.slider-container1 .slick-slide > div:hover {
  transform: scale(1.05);
}

.slider-container1 .slick-slide img {
  width: 250px;
  height: auto;
  object-fit: contain;
  /* margin-bottom: 10px; */
}

/* Arrows */
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  z-index: 10;
  cursor: pointer;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.slick-arrow.prev {
  left: -25px;
}

.slick-arrow.next {
  right: -25px;
}

/* Dots */
.slider-container1 .slick-dots {
  bottom: -30px;
}

.slider-container1 .slick-dots li button:before {
  color: #ccc;
  font-size: 8px;
}

.slider-container1 .slick-dots li.slick-active button:before {
  color: #723207;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .slider-container1 .slick-slide > div {
    width: 120px;
    height: 120px;
  }

  .slider-container1 .slick-slide img {
    width: 180px;
    height: 180px;
  }

  .slick-arrow {
    font-size: 24px;
    padding: 6px;
  }
}
@media (max-width: 600) {
  .slider-container1 .slick-slide > div {
    width: 120px;
    height: 120px;
  }

  .slider-container1 .slick-slide img {
    width: 400px;
    height: 400px;
  }

  .slick-arrow {
    font-size: 24px;
    padding: 6px;
  }
}

@media (max-width: 420px) {
  .slider-container1 .slick-slide > div {
    width: 120px;
    height: 120px;
  }

  .slider-container1 .slick-slide img {
    width: 160px;
    height: 160px;
  }

  .slick-arrow {
    font-size: 20px;
    padding: 4px;
  }
}

