.bloglistitem img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    object-fit: cover;
}
.aboutus_header {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;
    
    background: url('../../../public/assets/aboutusbg.webp');
    background-size: cover;
    }
    
    .aboutus_header h1  {
    margin-right: 15px;
    margin-top: 100px;
    font-size: 70px;
    color: black;
    font-family: "Poppins", sans-serif;
    position: relative;
    left: 16%;
    top: 8%;
    }

.bloglistitem{
    border: 1px solid #d7d7d7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0;
    border-radius: 20px;
}
.blogdesc{
    padding: 5px 15px;
}
.blogdesc p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.blogdesc h3{
    font-size: 20px;
    color: rgb(75, 45, 0);
    color: #4b2d00;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.bloglink{
    text-decoration: none;
    color:#000;
}
.writerdetail{
    display: flex;
    justify-content: space-between;
    margin: 2px 5px;
}
.writerdetail p {
    margin: 0;
    color: #646464
}
@media (max-width: 1080px){
    .aboutus_header h1{
        color: white;
      -webkit-text-stroke: 1px black;
        margin-top: 0;
        left: 0;
        top: 40%;
      }
}
@media (max-width: 768px){
    .aboutus_header {
        display: block;
        height: 16vh;
       }
       .aboutus_header h1 {
        margin-right: 15px;
      margin-top: 100px;
      font-size: 70px;
      color: black;
      font-family: "Poppins", sans-serif;
      position: relative;
      left: 16%;
      top: 8%;
       font-size: 31px;
       position: absolute;
       width: fit-content;
       left: 50%;
       top: 5%;
      }
}